img{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.elms{
    position: absolute;
    top: 20px;
    left: 20px;
    flex-wrap: wrap;
    display: inline-flex;
    z-index: 1000;
}

.child{
    margin: 0;
    padding: 0;
    transition: 1s ease-in-out;
}